<% if !activity.owner.nil? %>
<div class="activity">
  <%= image_tag(activity.owner.profile_picture, :class => "profile-picture") %>
  <% if current_user.id == activity.owner.id %>
            <%= link_to("You", user_path(activity.owner)) %>
        <% else %>
            <%= link_to(current_user.owner.name, user_path(activity.owner)) %>
        <% end %> has deleted a post <div class="activity-time"><%= time_ago_in_words(activity.created_at) %> ago</div>
</div>
<% end %>

