<% if !activity.owner.nil? %>
<div class="activity">
  <%= image_tag(activity.owner.profile_picture, :class => "profile-picture") %> <%= link_to(current_user == activity.owner ? "You" : activity.owner.name, activity.owner, activity.owner) %> has deleted a post <div class="activity-time"><%= time_ago_in_words(activity.created_at) %> ago</div>
</div>
<% end %>

