<div class="page-header">
  <h1>Contact Us</h1>
</div>
<div class="container row">
  <div class="col-md-5 col-xs-12">
    <h3>Alpha Pie Private Limited</h3>
    <p>#2205, SV Pleasanta, Chambenahalli Cross, Sarjapur Road, BENGALURU - 562125</p>
    <p>Contact Number: <a href="tel:+919738080932">+91 9738080932</a></p>
    <p>Email ID: <a href="mailto:alphapieblr@gmail.com">alphapieblr@gmail.com</a></p>
  </div>
</div>
