<% if !activity.owner.nil? and activity.trackable.present?  %>
<div class="activity container">
  <%= image_tag(activity.owner.profile_picture, :class => "profile-picture") %>
  <% if current_user.id == activity.owner.id %>
      <%= link_to("You", activity.owner, activity.owner) %>
  <% else %>
      <%= link_to(current_user.owner.name, activity.owner, activity.owner) %>
  <% end %> has deleted a comment <div class="activity-time"><%= time_ago_in_words(activity.created_at) %> ago</div>
</div>
<% end %>


