
/* make sidebar nav vertical */
  .sidebar-nav .navbar .navbar-collapse {
    max-height : none;
    padding    : 0;
  }

  .sidebar-nav .navbar ul {
    display : block;
    float   : none;
  }

  .sidebar-nav .navbar li {
    display : block;
    float   : none;
  }

  .sidebar-nav .navbar li a {
    padding-top    : 12px;
    padding-bottom : 12px;
  }

  .sidebar-nav .navbar-nav, .sidebar-nav .navbar-header{
    display: block; width: 100%;
    margin: 0px !important;
  }

.page-header{
  h2{
    display : inline-block;
  }
}

body{
  background-color : #F5F4F2 !important;

  .navbar-inverse{
    background-color : #344353;

    li{
      a{
        color : #eee !important;
      }
    }
    .dropdown-menu{
      a{
        color : #000 !important;
      }
    }
  }

  p{
    margin : 10px 0px;
  }

  & .content{
    padding-top      : 10px;
    padding-bottom   : 20px;

    background-color : #fff;
    font-family      : 'Roboto', sans-serif !important;
  }

  &>.main-wrapper {
    margin : 0px;
  }
}

form{
  .form-image{
    text-align : center;
    img{
      width : 50%;
    }
  }
}

.blink{
  -webkit-transition : background 1.0s ease-in-out;
  -ms-transition     : background 1.0s ease-in-out;
  transition         : background 1.0s ease-in-out;
}

.blur-text{
  color : #888;
}

.blinkBackground{
  background : #fff8dc !important;
}

.profile-picture {
  height        : 25px;
  width         : 25px;
  margin        : 0px 5px;

  border-radius : 50%;

  &.medium{
    height : 100px;
    width  : 100px;
    margin : 5px;
  }
}

img {
  max-width : 100%;
}

.text-right{
  text-align : right;
}

.text-center{
  text-align : center;
}

.text-white{
  color : #fff;
  &:hover{
    color           : #bbb;
    text-decoration : none;
  }
}

.vertical-center{
  vertical-align : middle !important;
}

.vertical-text-bottom{
  vertical-align : text-bottom !important;
}

.vertical-baseline{
  vertical-align : baseline !important;
  vertical-align : -webkit-baseline-middle !important;
}

.footer{
  margin     : 30px 0px;

  color      : #aaa;
  text-align : center;
}

.searchbar {
  width   : 100% !important;
  padding : 25px !important;
}

.searchbar-icon{
  background: rgb(71, 84, 102) !important; color : #fff !important;
  padding: 15px !important;
}

.glyphicon{
  top: 0px !important;
}

.autocomplete-suggestions {background: #283342; color: #ddd; overflow: auto; display:none; box-shadow: 0px 1px 5px 1px #000;}

.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; background: rgb(71, 84, 102);
  &:hover,&:focus{
    background : rgb(56, 70, 89);
    color      : #ddd;
  }
}

.autocomplete-selected { background: #F0F0F0; }

.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.autocomplete-group { padding: 10px 5px; font-weight: bold; font-size: +1em; border-bottom: 1px solid rgba(200,200,200,0.5); color: #FFF;}

.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
