
body.controller-posts-show{
  $size : 35px;

  .social-share-button {
    padding : 5px 5px;
    .ssb-icon {
      height          : $size;
      width           : $size;
      margin          : 10px;

      background-size : $size $size;
    }
  }

  .post-header{
    height  : 300px;
    padding : 15px;

    color   : #eee;

    .post-title{
      bottom : 15px;
    }

    .card-tags{
      margin-bottom : 20px;
    }

    .like{
      clear           : both;

      color           : #fff;
      text-decoration : none;

      &:hover{
        text-decoration : none;
      }
      .like-count{
        background : #3E8E30;
      }
    }

    .liked{
      margin-left : 5px;
      color       : #3E8E30;
    }

    .hidden{
      display : none;
    }
  }

  .post-body{
    margin    : 0px auto;
    font-size : +1.2em !important;

    img{
      margin : 0px auto;
    }

    p{
      text-indent: 50px;
      margin-top: 25px;
    }
  }

  .content-wrapper{
    line-height : 1.8em !important;
  }

  h1,h2,h3,h4{
    margin : 50px 0px 10px 0px;
  }

  .author{
    text-align : right;
    .follow{
      margin     : 10px auto;
      text-align : center !important;
    }
  }

  .comment-form{
    margin-bottom : 50px;
    text-align    : right;
  }

  .comment{
    margin           : 30px 0px;
    padding          : 15px;

    background-color : rgba(248, 248,248,1);
    font-size        : 12px;
    line-height      : 1em;

    ul {
      margin-left : +10px;
    }

    .comment-body{
      font-size   : 14px;
      line-height : 1.3em;
    }

    .comment-reply-wrapper{
      margin-left : 20px;
      .comment-reply{
        padding : 10px;
      }
    }
  }
}
