
body.controller-users-show, body.controller-users-index, body.controller-users-followers, body.controller-users-following{
  .account-profile-picture {
    width : 150px;
  }

  .user-picture {
    position              : relative;
    display: inline-block;

    overflow              : hidden;
    height                : 50px;
    width                 : 50px;

    border-radius         : 50%;

    -webkit-border-radius : 50%;
    -moz-border-radius    : 50%;
    -ms-border-radius     : 50%;
    -o-border-radius      : 50%;
    vertical-align: middle;

    img {
      display : inline;

      height  : 100%;
      width   : auto;
      margin  : 0 auto;
      vertical-align: baseline;
    }
  }

  .user-details{
    display: inline-block;
    margin-left: 10px;
  }

  .card{
    margin-bottom : 20px;
    padding       : 15px;

    border        : 1px solid #ddd;
    border-radius : 2px;
    border-bottom : 5px solid #47A23A;
    box-shadow    : 0 4px 8px 0 rgba(0,0,0,0.2);

    .card-header{
      vertical-align : middle;

      padding-bottom : 10px;

      font-size      : 20px;
      font-weight    : bold;
      text-align     : center;
      border-bottom  : 1px solid #ddd;
    }
    .card-body{
      text-align : center;
      .card-number-big{
        font-size  : 60px;
        text-align : center;
      }
    }
  }

  .users-list{
    li{
      margin          : 0px;
      padding         : 5px;

      list-style-type : none;
    }
  }
}
