<div class="row page-header">
  <div class="col-xs-12 col-md-12 text-center">
    <%= image_tag("favicon.ico", :class => "vertical-text-bottom brand-image") %><span class="brand">eblog</span>
    <br><small class="pull-right blur-text brand-tagline">- Blogging made simple </small>
  </div>
</div>
